#navbar-pinterest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 80px;
    font-size: 16px;
    padding: 0px 16px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

#navbar-pinterest:hover {
    transform: translateY(-5px);
}

#pinterest-icon {
    display: flex;
    align-items: center;
}

.pinterestlog {
    width: 80px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-heading {
    margin: 0 10px;
}

#buscar {
    flex: 1;
    text-align: center;
}

.navbar-icons {
    display: flex;
    align-items: center;
    padding-right: 21px;
}

.navbar-icons img {
    max-width: 20px;
}

#notifications,
#message,
#profile-img {
    margin-left: 10px;
}

#content {
    padding-top: 61px;
    position: absolute;
}

.grid-container {
    columns: 5 240px;
    grid-gap: 10px;
}

.card-image {
    position: relative;
}

.magia {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.box-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    border-radius: 25px;
}

.card-image:hover .box-hover {
    opacity: 1;
}

.mas {
    margin-top: 10px;
    margin-left: 103px;
    background-color: red;
}

.search {
    width: 60px;
    height: 60px;
}

.more-options {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
}

.more-options img {
    max-width: 100%;
    height: 40px;
    background-color: white;
}

@media (max-width: 768px) {
    #navbar-pinterest {
        flex-direction: column;
        height: auto;
        padding: 16px;
    }

    .nav-heading {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #buscar {
        margin-top: 10px;
        text-align: center;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
}

@media (max-width: 376px) {
    .grid-container {
        columns: 2 24px;
        grid-gap: 10px;
    }
    .search {
        width: 30px;
        height: 30px;
    }
    
    .more-options {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
        margin-bottom: 10px;
        margin-left: 71px;
        width: 78px;
    }
    
    .more-options img {
        height: 6px;
        background-color: white;
        width: 5px;
    }
}
